*,
*:before,
*:after {
    box-sizing: border-box;
}

div {
    height: 3cm;
    float: left;
}

.one {
    background-color: blue;
    width: 100%;
    height: 3cm;
}

.two {
    background-color: hsl(198, 95%, 23%);
    width: 50%;
    height: 20em;
    border: solid black 2px;
    text-size-adjust: 100%;
    box-sizing: border-box;
    padding-top: 1.5em;
    display: block;
}

.two img {
    width: 90%;
    height: 90%;
}

.three {
    background-color: hsl(198, 95%, 23%);
    width: 50%;
    height: 20em;
    border: solid black 2px;
    text-size-adjust: 100%;
    box-sizing: border-box;
    padding-top: 1.5em;
    display: block;
}

.three img {
    width: 90%;
    height: 90%;
}


/*
.home img {
    width: 50%;
}
*/

div {
    height: fit-content;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 150%;
}

h2 {
    color: hsl(114, 100%, 29%);
}

.vl {
    border-right: 0.25em solid hsl(246, 85%, 27%);
    height: 1.0em;
    top: 0;
}

h1,
p {
    margin: 0 0 1em 0;
    font-size: 1em;
}

#head {
    background-color: hsl(198, 95%, 23%);
    padding: 20px;
}

table {
    font-size: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: right;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: hsl(198, 95%, 23%);
    box-sizing: border-box;
    /* -ms-text-size-adjust: auto; */
}


/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    box-sizing: border-box;
    /*-ms-text-size-adjust: auto;*/
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 1050px) {
    h2,
    p {
        font-size: 0.8em;
    }
    .three,
    .two {
        float: left;
        clear: both;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: fit-content;
    }
    table {
        font-size: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        float: right;
    }
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.wrapper {
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
}

@media screen and (min-width: 500px) {
    /* no grid support? */
    .sidebar {
        float: left;
        width: 50%;
    }
    .content {
        float: right;
        width: 50%;
    }
    .wrapper {
        margin: 0 auto;
        grid-template-columns: 2fr 2fr;
    }
    .header,
    .footer {
        grid-column: 1 / -1;
        /* needed for the floated layout */
        clear: both;
    }
}

.wrapper>* {
    background-color: hsl(198, 95%, 23%);
    border-radius: 5px;
    padding: 20px;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */

@supports (display: grid) {
    .wrapper>* {
        width: auto;
        margin: 0;
    }
}